{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block title %}
    cart
{% endblock %}
{% block content %}
    <style>
        .table td {
            padding: .75rem 0 !important;
        }

        @media (min-width: 576px) {
            .my-row {
                display: flex !important;
                -ms-flex-wrap: wrap !important;
                flex-wrap: wrap !important;
            }



        }

        @media (max-width: 575px) {
            .sm {
                flex-basis: 0 !important;
                flex-grow: 1 !important;
                max-width: 100% !important;
            }

            .center {
                display: flex;
                justify-content: center;

            }
            .boton-compra {
            width: 100%;
        }

        }




    </style>
    {% if not cart_items %}
        <div class="overlay"></div>
        <div class="text-center">
            <br>
            <h1 class="text-center product_title">
                Your shopping cart is empty
            </h1>
            <br>
            <p class="text-center text-white">
                Please click <a href="{% url 'products' %}">here</a> to continue shopping
            </p>
        </div>
    {% else %}
        <div class="text-center">
            <br>
            <div class="text-center product_title">
                Your shopping cart
            </div>
        </div>
        <div class="row mx-auto justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center ">
                <table class="table cart_table">
                    <thead class="cart_thead">
                    <tr>
                        <th colspan="4" class="text-light">
                            Your items
                        </th>
                    </tr>
                    </thead>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <a href="{% url 'product_detail' cart_item.product.id %}">
                                    <img src="{{ cart_item.product.image.url }}" width="100" height="100" alt="">
                                </a>
                            </td>
                            <td class="">
                                <div class="text-left text-light pl-2">
                                    {{ cart_item.product.name }}
                                    <br>
                                    SKU: {{ cart_item.product.sku }}
                                    <br>
                                    Unit Price: $ {{ cart_item.product.price }}
                                    <br>
                                    Qty: {{ cart_item.quantity }} x {{ cart_item.product.price }}
                                    <br>
                                    Size: </strong>
                                    {% if cart_item.product.has_sizes %}{{ cart_item.size|upper }}{% else %}
                                        N/A{% endif %}

                                </div>
                            </td>
                            <td class="text-light text-left">
                                Subtotal: $ {{ cart_item.sub_total }}
                            </td>
                            {% if cart_item.quantity < cart_item.product.stock %}
                                <td class="text-left my-row">
                                    <div class="sm">
                                        &nbsp;<a href="{% url 'add_cart' cart_item.product.id %}">
                                        <i class="fas fa-plus-circle cart_icon"></i></a>
                                    </div>
                                    <div class="sm">
                                        &nbsp;<a href="{% url 'cart_remove' cart_item.product.id %}">
                                        <i class="fas fa-minus-circle cart_icon"></i></a>
                                    </div>
                                    <div class="sm">
                                        &nbsp;<a href="{% url 'cart_remove_product' cart_item.product.id %}">
                                        <i class="fas fa-trash-alt cart_icon"></i></a>
                                    </div>
                                </td>
                            {% else %}
                                <td>
                                    &nbsp;<a href="{% url 'cart_remove' cart_item.product.id %}">
                                    <i class="fas fa-minus-circle cart_icon"></i></a>
                                    &nbsp;<a href="{% url 'cart_remove_product' cart_item.product.id %}">
                                    <i class="fas fa-trash-alt cart_icon"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <div class="row center">
                    <div class="col-md-6 btn center">
                        <a href="{% url 'products' %}" style="text-decoration: none;">
                            <button type="button" class="btn btn-lg btn-block boton-compra bg-success text-white"
                                    style="font-size:17px;">
                                Continue Shopping
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 btn center">
                        <a href="{% url 'checkout' %}" style="text-decoration: none;">
                            <button type="button"
                                    class="btn btn-lg btn-block boton-compra bg-success text-white float-md-right"
                                    style="font-size:17px;">
                                Continue to Checkout
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}