% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}
    <div class="d-flex justify-content-center w-100 text-center" style="margin-top:10vh">

        <hr>
        <h2 class="logo-font mb-4">{% trans "Account Inactive" %}</h2>
        <hr>
    </div>
    <div class="d-flex justify-content-center w-100 text-center" style="margin-top:10vh">

        <p>{% trans "This account is inactive." %}</p>
    </div>
{% endblock %}
