{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center w-100 text-center" style="margin-top:10vh">

        <h1>{% trans "Set Password" %}</h1>
    </div>
    <div class="d-flex justify-content-center w-100 text-center" style="margin-top:10vh">


        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
{% endblock %}
